* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    line-height: 1.8;
    font-family: "Lato", sans-serif;
    color: #a3a3a3;
}
@font-face{
    font-family: Britania;
    src:url(../font/Britania.otf);
}
@font-face{
    font-family: sugo;
    src:url(../font/sugo.ttf);
}
@font-face{
    font-family: sugoo;
    src:url(../font/Sugo2.ttf);
}
@font-face{
    font-family: sherila;
    src:url(../font/Sherilla.ttf);
}
@font-face{
    font-family: famosa;
    src:url(../font/Famosa.otf);
}
@font-face{
    font-family: qanora;
    src:url(../font/qanora.ttf);
}

.material-symbols-outlined{
    position: relative;
}

.ajs-as{
    font-family: britania;
    padding: 50px 0;
    color: #c4ab8a;
    text-transform: uppercase;
    text-align: center;
}
.con-evr {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .mpsdc-sd {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 10px;
}

  .imdsc-da{
    cursor: pointer;
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 270px;
  }
  .imdsc-da img{
    width: 100vw;
    height: 270px; 
    object-fit: cover; 
  }

  mark {
    font-family: Britania;
    color: #c4ab8a;
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background: rgb(253, 253, 91);
  }
  .strike {
    -webkit-text-decoration-color: rgb(239, 135, 135);
    text-decoration-color: rgb(239, 135, 135);
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
  }



/* Background video & Nav section */
section{
    width: 100%;
    box-sizing: border-box;
}
.contw-sdf{
    max-width: 960px;
    margin: 0 auto;
}
.sac-ascaa{
    max-width: 960px;
    margin: 0 auto;
}
.contw-sdfs{
    width: 100%;
    margin: 0 auto;
}
.dso-cd {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5% 2% 2% 10%;
}

nav a img {
   max-height: 150px;
   max-width: 100px;
}

.as-as,
ul,
li,
a {
    font-size: 15px;
    font-family: sugo;
    font-weight: bold;
    letter-spacing: .1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.as-as,
a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ssaa {
    font-size: large;
}

#scroll-icon {
    position: absolute;
    top: 88%;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000;
    font-size: 24px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

#scroll-icon:hover {
    opacity: 1;
}
.no-scroll {
    overflow: hidden !important;
  }

.main-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .dso-cd video {
        width: 177.77777770vh;
        height: 100vh;
    }
}

@media (max-aspect-ratio: 16/9) {
    .dso-cd video {
        width: 100vw;
        height: 56.25vw;
    }
}

/* Mobile Nav */

.sidenav {
    height: 100%; 
    width: 0;
    display: none; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* The navigation menu links */
  .sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .closebtn{
    padding-left: 15px;
    padding-top: 5px;
  }
  .owe-cwccd{
    text-align: center; 
}
.owe-cwccd a{
    width: 100%;
    padding: 30px 0;
    border-top: solid 1px #818181;
}
.bob-s{
    border-bottom: solid 1px #818181;
}
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .as-as a:hover{
    color: #d6d3d3;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
  }
  
  .openbtn{
    margin-right: 2%;
    margin-top: -10%;
    background-color: transparent;
    border: none;
    display: none;
    font-size: 25px;
    color: #fff;
  }
  .active{
    color: #6c6c6c;
}
.sidenav .active {
    color: #f4f4f4;
}

/* Video Showcase content */


.aspo-as, .dldc-ca {
    padding: 100px 8%;
    background-color: #fbf7f4;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ef-ewf{
    padding: 100px 8% 10px 8% !important;
}
.sa-sdasl{
    padding: 0 8% 0 8% ;
    margin-bottom: 10px;
    background-color: #fbf7f4;
}
.nsox-sx{
    padding: 100px 8%;
    background-color: #fbf7f4;
}
.aspo-asse {
    padding: 5px;
    background-color: #fbf7f4;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sd-ad h1{
    font-family: Britania;
    font-weight: 100;
    color: #c4ab8a;
    text-align: center;
}
.sd-ad p{
    font-family:famosa;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    justify-content: center;
}

.video-container {
    position: relative;
    overflow: hidden;
}

.play-button {
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.play-button img {
    width: 100%;
    height: auto;
    display: block;
}

.fa-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
}
.ld-dfe{
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
}

.overlay {
    display: none;
    position: fixed;
    padding: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 10);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay iframe {
    width: 90vw; 
    height: 95vh; 
  
}

.overlay .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    font-size: 45px;
    cursor: pointer;
}
.note-qw{
    display: flex;
}
.note-qw p{
    font-size: 10px;
}

/* Photo Showcase content */

.odco-dsc{
    font-family: qanora;
    color: #716e6e;
    font-size: 10px;
    text-transform:capitalize;
}

.asd-cm img{
    max-width: 100%;
    height: auto;
}
 
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}

.grid-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.grid-item a {
    display: block;
    overflow: hidden;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1); 
    opacity: 0.8; 
}
.hover-fde{
    position: absolute;
    top: 50%;
    left: 0;
    width: 95.5%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    transform: translateY(-50%); 
    transition: height 0.3s ease;
}
.dskmc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex !important;
    opacity: 0;
}
.reade-more{
    font-family: famosa;
}
.grid-item:hover .hover-efd {
    height: 100%; 
}
.grid-item:hover .hover-fde {
    height: 100%; 
}
.grid-item:hover .dskmc{
    opacity: 1;
}
.dskmc{
    display: none;
}

/* Testimonial Section Styles */


.client-says-section{
    background-color: #fff;
    box-sizing: border-box;
   height: auto;

}
.slc-caa h6{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
    text-align: center;
}
.slc-caa h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Britania;
    font-weight: 100;
    color: #c4ab8a;
}
.slc-caa span{
    font-family: famosa;
    font-size: 12px;
    font-weight: bold;
}
.fa-quote-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials-slider{
    padding-top: 50px;
    max-height: 100%;
}
.testimonial-item {
    display: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.testimonial-item p{
    font-family: famosa;
}

.testimonial-item.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

.client-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.client-details a h3 {
    text-transform: capitalize;
    font-family: Britania;
    font-weight: 100;
    color: rgb(196, 171, 138);
    font-size: 18px;
    margin-top: 20px;
    margin-left: 15px;
}
.client-details a h3:hover{
    color: #bb1525;
}

.client-says-section p{
    line-height: 1.8;
}

.fa-arrow-right{
    font-size: 20px;
    color: #1a2438;
}
.fa-arrow-right:hover{
    cursor: pointer;
}   
.fa-quote-left{
    font-size: 40px;
    color: #888;
}
.bottom-d{
    margin-top: 20px;
}
.arrow-container {
    display: flex;
    padding-top: 10%;
    margin-bottom: -50px;
    position: relative;
    top: auto;
    margin-top: 50px;
    justify-content: center;
    gap: 150px ;
    align-items: center; 
  }
  
  .arrow-wrapper {
    position: relative;
    cursor: pointer;
  }
  
  .arrow-text {
    font-family: famosa;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, top 0.5s ease-in-out;
}

.arrow-wrapper:hover .arrow-text {
    opacity: 1;
    top: 100%;
    transition: opacity 0.3s, top 0.5s ease-in-out;
}

  
.fa-arrow-right {
    font-size: 24px;
    color: #1a2438;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*Footer*/

.cao-dca{
         
        font-family: "Marcellus", serif;
        font-weight: 200;
        font-style: normal;
      
      
}
.cao-dcaa{
    font-size: 14px;
    line-height: 1.8;
    color: #fbf7f4;   

}

.owcw-wdc{
    background-color: #1a2438;

}
.oqwd-scc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.oqwd-scc img{
    height: 80px;
}
.kas-asc{
    align-items: center;
    justify-content: center;
}
.kas-asc h3{
    font-family: "Marcellus", serif;
    color: #fbf7f4;
    font-weight: 100;
    font-size:medium;
    line-height: 35px;
}
.oijc-cw{
    margin-top: 50px;
}
.dldc-ca{
    align-items: center;
    text-align: center;
}
.fa-instagram{
    font-size: 30px;
    color: #111;
}
.ok-cs{
    background-color:#fff ;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}



/* Photography Page style */


.masn-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    z-index: -1;
}
.okjn {
    position: relative;
    height: 70vh;
    overflow: hidden;
}
.no-dcwe{
    position: relative;
    height: auto;
    overflow: hidden;
    background-color: #f4dcbc;
}

.osiddwd{
    width: 100%;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh; 
}

.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/photo-show.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-image h3 {
    font-family: 'famosa', sans-serif; 
    text-transform: uppercase;
    font-size: 18px;
    color: #fbf7f4;
    letter-spacing: 0.1em;
}


.len-ce h1{
    font-family: Britania;
    color: #c4ab8a;
}
.len-ce p{
    margin-bottom: 20px;
}



/* Contact page */
fieldset{
    max-width: 100%;
    border: 0;

}
.con-qwd{
    margin-top: 50px;
    border: none;
}
.name-cadc{
    width: 100%;
    display: flex;
    gap: 5px;
}
.name-cadc2{
    gap: 10px ;
}
.name-cadc p{
    font-size: 15px;
}
.name-cadc span{
    font-size: 17px;
}
.indsdc{
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #a9a9a9;
    box-sizing: border-box;
    color: #000;
    height: 46px;
    padding: 10px;
    position: relative;
    width: 100%;
    margin: 0 0 18px;
}
.nasd-asd{
    width: 50%;
}
.sdc-dscn{
    padding-bottom: 4px;
}
.pksx-x{
    padding: 0 7%;
}
.sal-sac{
    min-height: 100px;
    font-size: 100%;
    margin: 0;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    height: 50px;
    margin: 0 0 18px;
}
.sub-mit{
    border: 0;
    cursor: pointer;
    background-color: #272727;
    color: #fff;
    padding: 14px 35px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sub-mit:hover{
    background-color: #595858;
}
.lsc-sc {
    margin: 0 0 4px;
    width: fit-content;
    align-items: center;
    background-color: #ce2c30;
    color: #fff;
    column-gap: 10px;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;
}
.sdmsd-sdc{
    display: none;
}

/* About us */
.kan-ac h1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    font-family: Britania;
    font-weight: 100;
    color: #000;
}

.jsdn-asa {
    text-align: center;
}
.jsdn-asa h1{
    color: #c4ab8a;
    font-size: 22px;
    font-family: Britania;
    font-weight: 100;
}
.lsn-sxs p{
    font-family: famosa;
}
.kan-ac p{
    border-bottom: 2px solid #ccc;
   text-align: justify;
   padding: 20px;
}
.kan-ac{
    margin-top: 50px;
}
.sa-dwa{
    margin-top: 50px;
}
.nds-dsc{
    margin-top: 20px;
}


.headline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 50px; 
    height: 3px;
    background-color: #ff6600;
    transition: width 0.3s ease;
}

.headline:hover::after {
    width: 80px; 
}
.kscs-scs{
    font-family: sugoo;
    font-size: 28px;
    color: #c4ab8a;
    font-weight:100;
    text-transform: uppercase;
}

/* Kishore */


.macin-sdc{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.macin-sdc img{
    max-width: 100%;
    margin-bottom: -7px;
}
.inl-ij{
    margin-bottom: -10px !important;
}
.sherila{
    font-family: sherila;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    color: #ffdb6c;
}
.oc-dscls p{
    padding-bottom: 30px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .015em;
    color: #a3a3a3;
}
.sdjno{
    padding-bottom: 30px;
}


.nexr-cdc{
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 30px;
    background-color: rgb(251, 247, 244);
}
.pre-csdc{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 30px;
    background-color: rgb(251, 247, 244);
}
.ndec-cd{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(251, 247, 244);
}
.neod-ad a{
    text-decoration: none;
    cursor: pointer;
}
.neod-ad a h2{
    font-family: Britania;
    text-transform: capitalize;
    font-weight: 100;
    color: #c4ab8a;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
}

.photo {
    position: relative;
    overflow: hidden;
}

.photo img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.highlight {
    grid-column: span 3;
    grid-row: span 3;
}

.highlight img {
    transform: scale(1.1);
}
.img-as{
    height: 60px;
}
.oc-dscls h2{
    font-family: Britania;
    color: #c4ab8a;
    margin-bottom: 30px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.lightbox {
    animation: fadeIn 0.3s ease;
}



/* Media Query */

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }

    .image-container,
    .text-container {
        width: 50%;
    }
}


@media (max-width: 1000px) {
    .aspo-as {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sa-sdasl{
        padding: 0;
    }
    .asd-cm {
        max-width: 100%;
        height: auto;
    }
    .dldc-ca {
        
        padding-right: 4%;
    }
    
   
}
@media(max-width:756px){
    .as-as{
        display: none;
    }
    .openbtn{
        display: block;
        
    }
    .sidenav{
        display: block;
    }
   
}

@media (max-width: 689px) {
    .fa-play{
        font-size: 1rem;
    }
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:640px){
    .oqwd-scc{
        flex-direction: column;
    }
    .oqwd-scc img{
        width: 100%;
        height: 200px;
        margin-top: -80px;
    }
    .ok-cs{
        margin-top: 50px;
    }
    .kas-asc{
        margin-top: 50px;
    }
    .note-qw h6{
        font-size: 5px;
    }
    .note-qw p{
        font-size: 5px;
    }
}
@media(max-width:600px){
    .img-as{
        display: none;
    }
}

@media (max-width: 540px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonial-item, .sd-ad p, .dldc-ca, .oc-dscls p{
        text-align: justify;
    }
    nav a img{
        margin-top: 50%;
        margin-left: 20%;
        max-width: 70px;
    }
    .openbtn{
        margin-top: -25%;
    }
    
    .pksx-x{
        padding: 0;
    }
    .sherila{
        font-size: 20px;
    }

}

@media(max-width: 285px){
    .neod-ad a h2{
        font-size: 12px;
    }
   
}
@media(max-width: 250px){
    .sherila{
        font-size: 15px;
    }  
}


